---
# Only the main Sass file needs front matter (the dashes are enough)
---


body{
	font-family: "Helvetica" , sans-serif;
	color:#fefefe;
}

header{
	background-color: lightgray;
}

main{
	background-color: pink;
}

footer{
	background-color: yellow;
}
body > header{
	padding: 20px 0;
}

.wrapper{
	margin:auto;
	padding: 0 40px;
}

.site-title{
	float: left;
	margin:0;
}
.site-nav{
	float: right;
}
.site-nav ul{
	list-style: none;
	margin: 0;
	padding:0;
}
.site-nav ul li{
	display: inline-block;
}




.site-nav ul li a{
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	color: #444;
	font-weight: 700;
}

.clear{
	clear: both;
}



.posts{
	list-style: none;
	padding: 0;
	color: #555;
}
.date{
	font-size: 60%;
}
.posts li a{
	text-decoration: none;
	color: #555;
}

.posts li {
	border-bottom: 1px solid #efefef;
}

.posts li:last-child{
	border-bottom: 0;
}