---
layout: default
---




  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <small class="date"><em>{{ post.date | date: "%b %-d, %Y" }}</em></small>
          </h2>

          <p> </p>

        <span class="post-meta"></span>

        <h2>
          <a class="post-link" href=""></a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>


