<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {% include footer.html %}

  </body>

</html>
